# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages
- Libraries
- IDEs
- Jupiyter Notebooks
- Markdowns

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R language</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. GGplot
3. Numpy


| Data Science Tools|
| -------------| 
| Pycharm Comunity edition |
| VS Studio Code | 
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
def converter(mins):
    return mins/60
converter(200)

3.3333333333333335

## Author 

Tobias Schulte

## Author 

Tobias Schulte